// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.card-header .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.dashboard .card {
  margin-bottom: 0;
  height: 100%;
}

.dashboard .col-1, .dashboard .col-2, .dashboard .col-3, .dashboard .col-4, .dashboard .col-5, .dashboard .col-6, .dashboard .col-7, .dashboard .col-8, .dashboard .col-9, .dashboard .col-10, .dashboard .col-11, .dashboard .col-12, .dashboard .col, .dashboard .col-auto, .dashboard .col-sm-1, .dashboard .col-sm-2, .dashboard .col-sm-3, .dashboard .col-sm-4, .dashboard .col-sm-5, .dashboard .col-sm-6, .dashboard .col-sm-7, .dashboard .col-sm-8, .dashboard .col-sm-9, .dashboard .col-sm-10, .dashboard .col-sm-11, .dashboard .col-sm-12, .dashboard .col-sm, .dashboard .col-sm-auto, .dashboard .col-md-1, .dashboard .col-md-2, .dashboard .col-md-3, .dashboard .col-md-4, .dashboard .col-md-5, .dashboard .col-md-6, .dashboard .col-md-7, .dashboard .col-md-8, .dashboard .col-md-9, .dashboard .col-md-10, .dashboard .col-md-11, .dashboard .col-md-12, .dashboard .col-md, .dashboard .col-md-auto, .dashboard .col-lg-1, .dashboard .col-lg-2, .dashboard .col-lg-3, .dashboard .col-lg-4, .dashboard .col-lg-5, .dashboard .col-lg-6, .dashboard .col-lg-7, .dashboard .col-lg-8, .dashboard .col-lg-9, .dashboard .col-lg-10, .dashboard .col-lg-11, .dashboard .col-lg-12, .dashboard .col-lg, .dashboard .col-lg-auto, .dashboard .col-xl-1, .dashboard .col-xl-2, .dashboard .col-xl-3, .dashboard .col-xl-4, .dashboard .col-xl-5, .dashboard .col-xl-6, .dashboard .col-xl-7, .dashboard .col-xl-8, .dashboard .col-xl-9, .dashboard .col-xl-10, .dashboard .col-xl-11, .dashboard .col-xl-12, .dashboard .col-xl, .dashboard .col-xl-auto, .dashboard .col-xxl-1, .dashboard .col-xxl-2, .dashboard .col-xxl-3, .dashboard .col-xxl-4, .dashboard .col-xxl-5, .dashboard .col-xxl-6, .dashboard .col-xxl-7, .dashboard .col-xxl-8, .dashboard .col-xxl-9, .dashboard .col-xxl-10, .dashboard .col-xxl-11, .dashboard .col-xxl-12, .dashboard .col-xxl, .dashboard .col-xxl-auto {
  padding-right: 0;
  padding-left: 0;
}