---
grails:
  profile: vue
  codegen:
    defaultPackage: org.myhab
  gorm:
    reactor:
      # Whether to translate GORM events into Reactor events
      # Disabled by default for performance reasons
      events: false

server:
  port: 8181
  max-http-header-size: 40KB

info:
  app:
    name: "@info.app.name@"
    version: "@info.app.version@"
    grailsVersion: "@info.app.grailsVersion@"
spring:
  jmx:
    unique-names: true
  main:
    banner-mode: "off"
  groovy:
    template:
      check-template-location: false
  devtools:
    restart:
      additional-exclude:
        - "*.gsp"
        - "**/*.gsp"
        - "*.gson"
        - "**/*.gson"
        - "logback.groovy"
        - "*.properties"
  resources:
    cache:
      period: 3s
management:
  endpoints:
    enabled-by-default: true
    web:
      base-path: "/actuator"
      path-mapping.health: healthcheck
      exposure:
        include: prometheus ,info, health

  endpoint:
    info:
      enabled: true
    prometheus:
      enabled: true
    health:
      show-details: when_authorized
    metrics:
      enabled: true
    httptrace:
      enabled: true

quartz:
  pluginEnabled: true
  autoStartup: true
  purgeQuartzTablesOnStartup: false
  plugin:
    jobHistory:
      # {0} = Job name
      # {1} = Job group
      # {2} = Fire time
      # {3} = Trigger name
      # {4} = Trigger group
      # {7} = Re-fire count
      # {8} = Result/exception message
      class: "org.quartz.plugins.history.LoggingJobHistoryPlugin"
      jobSuccessMessage: "Job [{1}.{0}] execution complete and reports: {8}"
      jobFailedMessage: "Job [{1}.{0}] execution failed with exception: {8}"
      jobToBeFiredMessage: "Job [{1}.{0}] to be fired by trigger [{4}.{3}], re-fire: {7}"
      jobWasVetoedMessage: "Job [{1}.{0}] was vetoed. It was to be fired by trigger [{4}.{3}] at: {2, date, yyyy-MM-dd HH:mm:ss.SSS}"
  threadPool:
    class: "org.quartz.simpl.SimpleThreadPool"
    threadCount: 25
    threadPriority: 5
  jobs:
    # Huawei solar inverter sync
    huaweiInfoSync:
      enabled: true
      interval: 300  # seconds
    
    # Nibe heat pump data sync
    nibeInfoSync:
      enabled: true
      interval: 300  # seconds
    
    # Nibe OAuth token refresh
    nibeTokenRefresh:
      enabled: true
      interval: 120  # seconds
    
    # Device controller state synchronization via HTTP
    deviceControllerStateSync:
      enabled: true
      interval: 60  # seconds
    
    # Heating/thermostat control
    heatingControl:
      enabled: true
      interval: 120  # seconds (2 minutes)
    
    # Configuration synchronization
    configSync:
      enabled: true
      interval: 60  # seconds
    
    # Port value sync trigger (MQTT read)
    portValueSyncTrigger:
      enabled: true
      interval: 60  # seconds
    
    # Electricity metric statistics - 1 hour
    electricityMetricStatistics1H:
      enabled: false
      interval: 3600  # seconds (1 hour)
    
    # Electricity metric statistics - 24 hours
    electricityMetricStatistics24H:
      enabled: false
      interval: 86400  # seconds (24 hours)
    
    # Electricity metric statistics - 1 month
    electricityMetricStatistics1Month:
      enabled: false
      interval: 2592000  # seconds (30 days)
    
    # Switch OFF on timeout
    switchOffOnTimeout:
      enabled: true
      interval: 30  # seconds
    
    # Random colors (demo/testing)
    randomColors:
      enabled: false
      interval: 5  # seconds
    
    # Event log reader
    eventLogReader:
      enabled: false
      interval: 60  # seconds
    
    # Meteo Station weather data sync
    meteoStationSync:
      enabled: true
      interval: 1800  # seconds (1800 seconds = 30 minutes)

---
grails:
  cors:
    enabled: true
    allowedMethods:
      - GET
      - POST
    allowedOrigins:
      - http://localhost:10000
      - http://localhost:10001
      - http://localhost:10002
      - http://localhost:10003
      - chrome-extension://ggnhohnkfcpcanfekomdkjffnfcjnjam
    allowedOriginPatterns:
      - https://beta.*.app
      - https://local.*.app
      - https://*.app

  mime:
    disable:
      accept:
        header:
          userAgents:
            - Gecko
            - WebKit
            - Presto
            - Trident
    types:
      json:
        - application/json
        - text/json
      hal:
        - application/hal+json
        - application/hal+xml
      xml:
        - text/xml
        - application/xml
      atom: application/atom+xml
      css: text/css
      csv: text/csv
      js: text/javascript
      rss: application/rss+xml
      text: text/plain
      all: "*/*"
  urlmapping:
    cache:
      maxsize: 1000
  controllers:
    defaultScope: singleton
  converters:
    encoding: UTF-8
---
hibernate:
  cache:
    queries: false
    use_second_level_cache: false
    use_query_cache: false

environments:
  development:
    quartz:
      jobStore: false
    logging:
      jul:
        usebridge: true
    plugin:
      springsecurity:
        debug:
          useFilter: true
  production:
    quartz:
      jobStore: true
      class: "org.quartz.impl.jdbcjobstore.JobStoreTX"
      driverDelegateClass: "org.quartz.impl.jdbcjobstore.PostgreSQLDelegate"
      useProperties: false
      dataSource: "production"
      tablePrefix: "qrtz_"
    logging:
      jul:
        usebridge: true
    plugin:
      springsecurity:
        debug:
          useFilter: true
graphql:
  enabled: true
  graphiql:
    enabled: true
    path: /graphiql
    template-path: classpath:graphiql/index.html
    template-parameters:
    page-title: GraphiQL

mqtt:
  topic:
    prefix: "myhab"